:root{
	--red:#B31312;
	--blue:#2B2A4C;
	--green:#CBFFA9;
	--white:whitesmoke;
}

body,h2{
	margin: 0;
	font-family: arial;

}

.landing{
	background-image: url('images/red-chilly.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	color:var(--white);
}

header a{
	text-decoration: none;
	color:var(--blue);
}

header{
	display: flex;
	padding: 1em;
}

header h2 i,nav a i{
	margin-right: 0.5em;
}

#logo{
	flex:3;
	font-size:1.5em;
}

nav{
	flex:2;
	display:flex;
	align-items: center;
}

nav a{
	flex:1;
}

nav a:hover{
	color:var(--blue);
}

.main{
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding:2em;
	height:50vh;
}

.line1{
	color:var(--red);
	font-size: 2.5em;
	font-weight: bolder;
}

.line2{
	color:var(--blue);
}

.main div{
	margin-top: .75em;
}

.main button{
	width:20vw;
	margin-top: 2em;
	border-radius:10px;
	padding:0.7em;
	background-color: var(--blue);
	color:var(--white);
	border:1px solid var(--green);
}

.menu{
	display: grid;
	background-color: #444444;
	color:var(--white);
	grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

#menuheading,#locheading{
	background: #444444;
	font-size: 2.5em;
	color:var(--red);
	display: flex;
	justify-content: center;
}

.menu th{
	color:var(--green);
	font-size:1.8em;
}

table{
	width:100%;
	padding: 1em;
}

.menu tr{
	display: flex;
	justify-content: center;
	margin-top: 0.6em;
}

.menu td:nth-child(1){
	flex:1;
	justify-self:left;
}

.menu td:nth-child(2){
	flex:1;
	justify-self:right;
}

.maincourse{
	grid-row: span 2;
}

.locations{
	background-color:#444444;
	color:var(--white); 
	display: flex;
	flex-wrap: wrap;
}

.locations h2{
	color:var (--green);
	margin-bottom: .8em;
}

.locations div{
	flex:1;
	padding: 1em;
	min-width: 240px;
}

footer{
	background-color: #222831;
	color:var(--white);
	padding:.25em 1em;
}

#copyright{
	text-align: center;
}

.social-menu ul{
    display: flex;
    padding:0;
    justify-content: center;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
    
.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}

.btn {
  background: #2B2A4C;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #F0F0F0;
   
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #B31312;
  cursor: pointer;
  text-decoration: none;
}